/* Media */

@media (max-width: 868px) {

  // HOME //

  .home {
    height: 50vh;
  }

  .about-page-title {
    font-size: 20px;
  }

  .about-page-title::after {
    top: 90px;
    width: 300px;
    height: 3px;
  }

  .about-description p {
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
    padding-top: 20px;
  }

  .about-description h3 {
    font-size: 16px;
  }

  // HEADER //

  .header::before {
    height: 50vh;
  }

  .header {
    height: 50vh;

    .header-discover {
      padding-top: 200px;
      letter-spacing: 4px;
      font-size: 10px;


      .icon-arrow {
        font-size: 15px;
        z-index: 2;
      }
    }
  }

  .header-title::after {
    top: 105px;
    width: 100px;
    height: 2px;
  }

  .brand-title {
    h1 {
      line-height: 12px;
      letter-spacing: 8px;
      font-size: 13px;
      margin: 0 auto;
    }

    span {
      font-size: 10px;
      letter-spacing: 3px;
      margin: 0 auto;
    }
  }

  .header-nav {
    font-size: 13px;
    text-align: right;
    line-height: 1.4;
    display: flex;
    flex-direction: column;

    a {
      padding-right: 5px;
      letter-spacing: 0px;
    }
  }

  .header-title {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 5px;
    letter-spacing: 8px;

    .sub-title-1 {
      line-height: 0px;
      margin: 0 auto;
      font-size: 30px;
      text-align: center;
      padding: 0;

    }

    .sub-title-2 {
      text-align: center;
      line-height: 30px;
      font-size: 30px;
      padding-left: 0px;

    }
  }

  // PAGES //

  .page-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .page-title::after {
    width: 300px;
    height: 3px;
  }

  .product-title h1 {
    font-size: 18px;
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 0;
  }

  .product-title h1::after {
    bottom: -15px;
    left: 30px;
    width: 50px;
    height: 2px;
  }


  .products {
    padding-bottom: 50px;
    justify-content: center;

    .product-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }

    .row {
      display: flex;
      justify-content: center;
    }
  }

  .products .product {
    width: 300px;
    order: 2;
    margin: 0;
    padding: 0;

    .product-info p {
      max-width: 400px;
    }
  }


  .product-title h1 {
    font-size: 24px;
    letter-spacing: 2px;
    order: 1;
    margin: 0px 0px;
  }


  .products .product-list .product .product-info {
    padding: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    font-size: 18px;
    width: 300px;
    justify-content: center;
  }

  .products .product .product-rating {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    padding: 0px;
    font-size: 12px;
  }


  .product-title h1::after {
    bottom: -10px;
    left: 25px;
  }

  .products .product-list .product .number-1 {
    transform: translateX(-455px) translateY(-225px) rotate(25deg);
    width: 600px;
    text-align: right;
    position: absolute;
  }

  .products .row .foto-1 img {
    order: 1;
    padding: 0px;
  }

  .row .foto-2 {
    padding: 0;
  }

  .row .foto-3 {
    padding: 0;
  }


  // FOOTER //

  .footer {
    font-size: 10px;
  }

}

@media (min-width: 868px) and (max-width: 991px) {
  // HEADER //

  .header::before {
    height: 60vh;
  }

  .header {
    height: 60vh;

    .header-discover {
      padding-top: 200px;
      letter-spacing: 4px;
      font-size: 12px;


      .icon-arrow {
        font-size: 16px;
        z-index: 2;
      }
    }
  }

  .header-title::after {
    top: 170px;
    width: 120px;
    height: 3px;
  }

  .brand-title {
    h1 {
      line-height: 12px;
      letter-spacing: 8px;
      font-size: 18px;
      margin: 0 auto;
    }

    span {
      font-size: 14px;
      letter-spacing: 3px;
      margin: 0 auto;
    }
  }

  .header-nav {
    font-size: 16px;
    text-align: right;

    a {
      padding-right: 5px;
      letter-spacing: 0px;
    }
  }

  .header-title {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 5px;
    letter-spacing: 8px;

    .sub-title-1 {
      line-height: 10px;
      margin: 0 auto;
      font-size: 60px;
      text-align: center;
      padding: 0;
    }

    .sub-title-2 {
      text-align: center;
      line-height: 30px;
      font-size: 60px;
      padding-left: 0px;
    }
  }

  .page-title {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .page-title::after {
    width: 500px;
    height: 3px;
  }

  .products {
    padding-bottom: 50px;
    justify-content: center;

    .product-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .row {
      display: flex;
      justify-content: center;
    }
  }

  .products .product {
    width: 350px;
    order: 2;
    margin-top: 0;
    padding-left: 25px;


    .product-info p {
      max-width: 400px;

    }

    .number-1 img {
      position: absolute;
      width: 8%;
      transform: translateX(230%) translateY(-120%);
    }
  }


  .product-title h1 {
    font-size: 24px;
    letter-spacing: 2px;
    order: 1;
    margin: 0px 0px;
  }


  .products .product-list .product .product-info {
    padding: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    font-size: 18px;
    width: 300px;
  }

  .products .product .product-rating {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    padding: 0px;
    font-size: 12px;
  }


  .product-title h1::after {
    bottom: -10px;
    left: 25px;
    width: 50px;
  }

  .products .product-list .product .number-1 {
    transform: translateX(-455px) translateY(-225px) rotate(25deg);
    width: 600px;
    text-align: right;
    position: absolute;
  }

  .products .row .foto-1 img {
    order: 1;
    padding: 0px;
  }

  .products .row .foto-2 img {
    padding: 0;
  }

  .products .row .foto-3 img {
    padding: 0;
  }

  .about-page-title::after {
    width: 500px;
    height: 3px;
  }
}

@media (min-width: 991px) and (max-width: 1151px) {
  .header-title {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 5px;
    letter-spacing: 8px;

    .sub-title-1 {
      line-height: 0px;
      font-size: 80px;
    }

    .sub-title-2 {
      text-align: center;
      line-height: 30px;
      font-size: 80px;
      padding-left: 110px;
    }
  }

  .products {
    padding-bottom: 50px;
    justify-content: center;

    .product-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .row {
      display: flex;
      justify-content: center;
    }
  }

  .products .product {
    width: 350px;
    order: 2;
    margin-top: 0;
    padding-left: 25px;


    .product-info p {
      max-width: 400px;

    }

    .number-1 img {
      position: absolute;
      width: 8%;
      transform: translateX(230%) translateY(-120%);
    }
  }


  .product-title h1 {
    font-size: 24px;
    letter-spacing: 2px;
    order: 1;
    margin: 0px 0px;
  }


  .products .product-list .product .product-info {
    padding: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    font-size: 18px;
    width: 300px;
  }

  .products .product .product-rating {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    padding: 0px;
    font-size: 12px;
  }


  .product-title h1::after {
    bottom: -10px;
    left: 25px;
    width: 50px;
  }

  .products .product-list .product .number-1 {
    transform: translateX(-455px) translateY(-225px) rotate(25deg);
    width: 600px;
    text-align: right;
    position: absolute;
  }

  .products .row .foto-1 img {
    order: 1;
    padding: 0px;
  }

  .products .row .foto-2 img {
    padding: 0;
  }

  .products .row .foto-3 img {
    padding: 0;
  }

  .about-page-title::after {
    width: 500px;
    height: 3px;
  }

}

@media (max-width: 414px) {
  .header-title::after {
    top: 140px;
    width: 80px;
    height: 2px;
  }


  .page-title {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .page-title::after {
    width: 280px;
    height: 2px;
  }

  .about-page-title {
    font-size: 16px;
  }

  .about-page-title::after {
    top: 80px;
    width: 280px;
    height: 2px;
  }

  .about-description p {
    font-size: 14px;
    padding-left: 10%;
    padding-right: 20%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .about-description h3 {
    font-size: 14px;
  }

  .products {
    padding-bottom: 50px;

    .product-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .row {
      display: flex;
      flex-direction: column;
    }
  }

  .products .product {
    width: 300px;
    order: 2;
    margin-top: 0;

    .product-info p {
      max-width: 400px;
    }

    .number-1 img {
      position: absolute;
      width: 8%;
      transform: translateX(230%) translateY(-120%);
    }
  }


  .product-title h1 {
    font-size: 22px;
    letter-spacing: 2px;
    order: 1;
    margin: 0px 0px;
  }


  .products .product-list .product .product-info {
    padding: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    font-size: 16px;
    width: 300px;
  }

  .products .product .product-rating {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    padding: 0px;
  }


  .product-title h1::after {
    bottom: -10px;
    left: 25px;
  }

  .products .product-list .product .number-1 {
    transform: translateX(-455px) translateY(-225px) rotate(25deg);
    width: 600px;
    text-align: right;
    position: absolute;
  }

  .row .foto-1 {
    order: 1;
    padding: 0px;
  }

  .row .foto-2 {
    padding: 0;
  }

  .row .foto-3 {
    padding: 0;
  }

}